@import '../styles/colors';

.mycard {
  background: linear-gradient($snowSunny, $snowWhite);
}

.App--dark {
  .mycard {
    background: $snowMan;
  }

  .mycard__title {
    color: $snowMan;
  }
}

.mycard__title {
  background-color: $snowShadow;
  min-height: 1rem;
  padding-block-end: 0.1em;
  padding-block-start: 0.1em;
  text-align: center;
}

.mycard__title h2 {
  margin-block-end: 0;
  margin-block-start: 0;
}

.mycard__body {
  padding: 0.8rem 2%;
}
