.contact {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: .5rem;

  a {
    text-decoration: none;
  }
}
@media (min-width: 768px) {
  #mycard--contact {
    grid-column: 2;
    grid-row: 1;
  }
}
