@import '../styles/colors';

#mycard--experience {
  h3 {
    border-image: linear-gradient(to right, $snowMan, $snowWhite) 100;
    border-top: 0.1rem solid;
    margin: 0.5rem 0;
    padding-top: 0.2rem;
  }
}

.App--dark {
  #mycard--experience {
    h3 {
      border-image: linear-gradient(to left, $snowMan, $snowWhite) 100;
    }
  }
}

img.company-icon {
  display: inline;
  height: 1rem;
  margin-right: 0.5rem;
}

.technology-list {
  display: flex;
  flex-flow: row wrap;

  li {
    margin-right: 2rem;
  }
}
