h1 {
  margin: 1rem 0;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: .5rem 1rem;
}

header div:last-child > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    margin-right: .8em;
  }

  li:last-child {
    margin-right: 0;
  }
}
