@import '../styles/colors';

.skills {
  display: grid;
  grid-gap: 0.2rem;
  grid-column-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  justify-self: stretch;

  margin: 0 1rem;

  label {
    grid-column: 1;
    text-align: right;
  }

  .score-bar {
    background-color: $snowWhite;
    grid-column: 2;
    height: 1rem;

    .score-bar__score {
      background-color: $snowShadow;
      height: 1rem;

      span {
        display: none;
      }

      @media print {
        span {
          display: inherit;
        }
      }
    }
  }

}
