@import "../styles/colors";

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .2rem;
  grid-column-gap: .5rem;

  label {
    grid-column: 1;
    text-align: right;
  }
  .score-bar {
    grid-column: 2;
    background-color: $snowWhite;
    height: 1rem;

    .score-bar__score {
      background-color: $snowShadow;
      height: 1rem;
    }
  }

}
@media (min-width: 768px) {
  #mycard--skills {
    grid-column: 2;
    grid-row: 3 / 4;
  }
}
